<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You Do Not Have Access To this Page</h6>
    <img src="~/Views/download.png" style="height:300px; width:300px" />
</div>