@model IEnumerable<CSFUF.Models.CustomerReg>
@{
    ViewBag.Title = "IndexForBranch";
}

<h2>ምዝገባ</h2>

<table class="table-bordered col-md-4">
    <tr>
        <td>
            @Html.ActionLink("Report/ሪፖርት", "BTReport", "Customer", new { @class = "btn btn-primary btn-sm btn-block" })
        </td>
    </tr>
</table>
<br />
<br />
<br />
<br />