@model CSFUF.Models.Approver

@{
    ViewBag.Title = "ApproverDetails";
}

<h2>ApproverDetails</h2>

<div>
    <h4>Approver</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApproverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApproverName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "ApproverEdit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
