@{
    ViewBag.Title = "Home Page";
}
<body class="bbody">

    <div class="jumbotron">
        <h1>POESSA</h1>
        <p class="lead">Private Organization Employees' Social Security Administration</p>
        <p class="lead">Customer Service Follow Up System</p>

    </div>

    <div class="row">
        <div class="col-md-4">

            <p><a class="btn btn-default" href="http://www.poessa.gov.et">Learn more &raquo;</a></p>

        </div>
    </div>
</body>
<style>
    .jumbotron {
        margin-top:20px;
        border-radius:20px;
        box-shadow: 1px 1px 3px #002395;
    }
        .jumbotron:hover {
            background-color: #f5f5f5;
        }
        .lead {
        }
    .bbody {
        background-color: #f8f8ff;
    }
</style>